ul{ list-style-type: none; margin: 0px;padding: 5px; }
.container{
    border: 1px solid #f1f1f1;
    margin-top: 20px;
}
.list{  margin: 5px; float: left; background: #f1f1f1; padding: 5px;font-size:18px;width:19%;}
.list li{ margin: 2px; padding: 2px; font-size: 15px; }
.list_all{  margin: 5px;  background: #eee; padding: 5px;overflow:hidden;font-size:18px;}
.list_all li { margin: 5px; padding: 2px; font-size: 15px; width:19%; float:left}
.link{text-decoration:none;color:#fff;background:#BD0000}
#savemsg{display:none;position:fixed;padding:20px;width:100px;text-align:center;background:rgba(200,200,200,0.8);border:2px solid #333;top:45%;left:45%}
